a{
    text-decoration: underline;
  }
  
  a:hover{
    color: red;
    text-decoration: none;
  }
  
  .nav-link{
    text-decoration: none;
  }
  
  .nav-link:hover{
    color: #5495ff;
  }
  
  .btn{
    border: 2px solid;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0px 4px;
    background-color: #2178ff;
    font-size: 18px;
    font-weight: 500;
    font-family:'Raleway', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px;
  }
  
  .btn:hover{
    color:#2176FF;
    background-color: #fff;
     transition: color .5s ease-in, background-color .4s ease-in;
  }
  
  .btn:active{
    font-size: 24px;
    transition: font-size .2s ease-in-out;
  }
  
  .activity{
    border: 1px solid ;
    color: white;
    border-radius: 2px;
    box-shadow: 0px 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .activity:hover{
    color: #2176FF;
    background-color: #fFF;
    font-size:26px;
    transition: font-size .2s ease-in-out, color .5s ease-in, background-color 0.5s ease-in;
  }
  
  .activity:active{
    font-size:38px;
     transition: font-size .2s ease-in-out;
  }