*{
    font-family: 'Lexend Mega', sans-serif;
}
.logo{
    text-align: center;
    font-family: 'Lexend Mega', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    padding: 0.5rem 0px;
    word-spacing: 0.5rem;
    letter-spacing: 0.5rem;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

li a{
    text-decoration: underline;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 0.5rem;
}

li a:hover{
    color: #ff0000;
}

.banner{
    text-align: center;
    background-image: url('./Resources/images/unsplash.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
}

.banner .banner-text{
    background-color: white;
    position: relative;
    top: 30%;
    /* padding: 0.5rem 0px; */
}

.banner .banner-text h2{
    font-size: 2rem;
    font-weight: 900;
    padding: 0.25rem 0px;
}

.banner .banner-text p{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.25rem 0px;
}

.portfolio{
    text-align: center;
    padding: 1rem 0px;
    font-size: 1.2rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .img-container{
    display: inline-flex;
    width: 500px; 
    max-height: 300px;
    margin: 1rem 0px;
    /* border: 1px solid black; */
    border-radius: 5px;
    overflow: hidden;
    align-items: center;
    padding: 0.5rem 0.02rem;
}

.container .img-container img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}   

.container .img-container h3{
    padding: 0.5rem 0.75rem;
}

.team{
    text-align: center;
    padding: 3rem 0px;
    font-size: 1.2rem;
    
}

.team-container{
    display: flex;
    
    background-image: url('./Resources/images/team/domenico.jpg');
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.team-container .box{
    width: 15%;
    height: 10%;
    align-self: center;
}

.box img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}